In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.manifold import MDS, TSNE

from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, cross_val_score
from sklearn.metrics import accuracy_score

import seaborn as sns

import tensorflow as tf
from tensorflow.keras import layers, models
from tensorflow.keras.callbacks import EarlyStopping, Callback

In [2]:
train_df = pd.read_csv("../train.csv")
test_df = pd.read_csv("../test.csv")

sub_df = pd.read_csv("../sample_submission.csv")

In [3]:
train_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,76518.0,NaN,NaN,NaN,38258.5,22088.988286,0.0,19129.25,38258.5,57387.75,76517.0
Marital status,76518.0,NaN,NaN,NaN,1.111934,0.441669,1.0,1.0,1.0,1.0,6.0
Application mode,76518.0,NaN,NaN,NaN,16.054419,16.682337,1.0,1.0,17.0,39.0,53.0
Application order,76518.0,NaN,NaN,NaN,1.64441,1.229645,0.0,1.0,1.0,2.0,9.0
Course,76518.0,NaN,NaN,NaN,9001.286377,1803.438531,33.0,9119.0,9254.0,9670.0,9991.0
Daytime/evening attendance,76518.0,NaN,NaN,NaN,0.915314,0.278416,0.0,1.0,1.0,1.0,1.0
Previous qualification,76518.0,NaN,NaN,NaN,3.65876,8.623774,1.0,1.0,1.0,1.0,43.0
Previous qualification (grade),76518.0,NaN,NaN,NaN,132.378766,10.995328,95.0,125.0,133.1,140.0,190.0
Nacionality,76518.0,NaN,NaN,NaN,1.2266,3.392183,1.0,1.0,1.0,1.0,109.0
Mother's qualification,76518.0,NaN,NaN,NaN,19.837633,15.399456,1.0,1.0,19.0,37.0,44.0
Father's qualification,76518.0,NaN,NaN,NaN,23.425076,14.921164,1.0,4.0,19.0,37.0,44.0
Mother's occupation,76518.0,NaN,NaN,NaN,8.583196,17.471591,0.0,4.0,7.0,9.0,194.0
Father's occupation,76518.0,NaN,NaN,NaN,8.882172,16.80394,0.0,5.0,7.0,9.0,195.0
Admission grade,76518.0,NaN,NaN,NaN,125.363971,12.562328,95.0,118.0,124.6,132.0,190.0
Displaced,76518.0,NaN,NaN,NaN,0.569265,0.495182,0.0,0.0,1.0,1.0,1.0
Educational special needs,76518.0,NaN,NaN,NaN,0.003738,0.061023,0.0,0.0,0.0,0.0,1.0
Debtor,76518.0,NaN,NaN,NaN,0.071382,0.257463,0.0,0.0,0.0,0.0,1.0
Tuition fees up to date,76518.0,NaN,NaN,NaN,0.893646,0.308292,0.0,1.0,1.0,1.0,1.0
Gender,76518.0,NaN,NaN,NaN,0.315821,0.464845,0.0,0.0,0.0,1.0,1.0
Scholarship holder,76518.0,NaN,NaN,NaN,0.247393,0.4315,0.0,0.0,0.0,0.0,1.0
Age at enrollment,76518.0,NaN,NaN,NaN,22.278653,6.889241,17.0,18.0,19.0,23.0,70.0
International,76518.0,NaN,NaN,NaN,0.006626,0.08113,0.0,0.0,0.0,0.0,1.0
Curricular units 1st sem (credited),76518.0,NaN,NaN,NaN,0.188871,1.175296,0.0,0.0,0.0,0.0,20.0
Curricular units 1st sem (enrolled),76518.0,NaN,NaN,NaN,5.891516,1.671776,0.0,5.0,6.0,6.0,26.0
Curricular units 1st sem (evaluations),76518.0,NaN,NaN,NaN,7.352362,3.508292,0.0,6.0,7.0,9.0,45.0
Curricular units 1st sem (approved),76518.0,NaN,NaN,NaN,4.17852,2.687995,0.0,2.0,5.0,6.0,26.0
Curricular units 1st sem (grade),76518.0,NaN,NaN,NaN,9.995862,5.264224,0.0,10.666667,12.166667,13.314286,18.875
Curricular units 1st sem (without evaluations),76518.0,NaN,NaN,NaN,0.05796,0.40849,0.0,0.0,0.0,0.0,12.0
Curricular units 2nd sem (credited),76518.0,NaN,NaN,NaN,0.137053,0.93383,0.0,0.0,0.0,0.0,19.0
Curricular units 2nd sem (enrolled),76518.0,NaN,NaN,NaN,5.933414,1.627182,0.0,5.0,6.0,6.0,23.0
Curricular units 2nd sem (evaluations),76518.0,NaN,NaN,NaN,7.234468,3.50304,0.0,6.0,7.0,9.0,33.0
Curricular units 2nd sem (approved),76518.0,NaN,NaN,NaN,4.007201,2.772956,0.0,1.0,5.0,6.0,20.0
Curricular units 2nd sem (grade),76518.0,NaN,NaN,NaN,9.626085,5.546035,0.0,10.0,12.142857,13.244048,18.0
Curricular units 2nd sem (without evaluations),76518.0,NaN,NaN,NaN,0.062443,0.462107,0.0,0.0,0.0,0.0,12.0
Unemployment rate,76518.0,NaN,NaN,NaN,11.52034,2.653375,7.6,9.4,11.1,12.7,16.2
Inflation rate,76518.0,NaN,NaN,NaN,1.228218,1.398816,-0.8,0.3,1.4,2.6,3.7
GDP,76518.0,NaN,NaN,NaN,-0.080921,2.251382,-4.06,-1.7,0.32,1.79,3.51
Target,76518,3,Graduate,36282,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              76518 non-null  int64
 1   Marital status                                  76518 non-null  int64
 2   Application mode                                76518 non-null  int64
 3   Application order                               76518 non-null  int64
 4   Course                                          76518 non-null  int64
 5   Daytime/evening attendance                      76518 non-null  int64
 6   Previous qualification                          76518 non-null  int64
 7   Previous qualification (grade)                  76518 non-null  float64
 8   Nacionality                                     76518 non-null  int64
 9   Mother's qualification                          76518 non-null  int64
 10  Father's qualification                          76518 non-null  int64
 11  Mother's occupation                             76518 non-null  int64
 12  Father's occupation                             76518 non-null  int64
 13  Admission grade                                 76518 non-null  float64
 14  Displaced                                       76518 non-null  int64
 15  Educational special needs                       76518 non-null  int64
 16  Debtor                                          76518 non-null  int64
 17  Tuition fees up to date                         76518 non-null  int64
 18  Gender                                          76518 non-null  int64
 19  Scholarship holder                              76518 non-null  int64
 20  Age at enrollment                               76518 non-null  int64
 21  International                                   76518 non-null  int64
 22  Curricular units 1st sem (credited)             76518 non-null  int64
 23  Curricular units 1st sem (enrolled)             76518 non-null  int64
 24  Curricular units 1st sem (evaluations)          76518 non-null  int64
 25  Curricular units 1st sem (approved)             76518 non-null  int64
 26  Curricular units 1st sem (grade)                76518 non-null  float64
 27  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 28  Curricular units 2nd sem (credited)             76518 non-null  int64
 29  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 30  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 31  Curricular units 2nd sem (approved)             76518 non-null  int64
 32  Curricular units 2nd sem (grade)                76518 non-null  float64
 33  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 34  Unemployment rate                               76518 non-null  float64
 35  Inflation rate                                  76518 non-null  float64
 36  GDP                                             76518 non-null  float64
 37  Target                                          76518 non-null  object
dtypes: float64(7), int64(30), object(1)
memory usage: 22.2+ MB

In [5]:
train_df.nunique().sort_values()

Gender                                                2
International                                         2
Scholarship holder                                    2
Tuition fees up to date                               2
Debtor                                                2
Daytime/evening attendance                            2
Educational special needs                             2
Displaced                                             2
Target                                                3
Marital status                                        6
Application order                                     8
Unemployment rate                                    11
Curricular units 2nd sem (without evaluations)       11
GDP                                                  11
Curricular units 1st sem (without evaluations)       12
Inflation rate                                       13
Nacionality                                          18
Course                                               19
Curricular units 2nd sem (credited)                  20
Previous qualification                               21
Curricular units 2nd sem (approved)                  21
Curricular units 1st sem (credited)                  21
Application mode                                     22
Curricular units 2nd sem (enrolled)                  22
Curricular units 1st sem (approved)                  23
Curricular units 1st sem (enrolled)                  24
Curricular units 2nd sem (evaluations)               31
Mother's qualification                               35
Curricular units 1st sem (evaluations)               36
Father's qualification                               39
Mother's occupation                                  40
Age at enrollment                                    46
Father's occupation                                  56
Previous qualification (grade)                      110
Admission grade                                     668
Curricular units 1st sem (grade)                   1206
Curricular units 2nd sem (grade)                   1234
id                                                76518
dtype: int64

In [6]:
test_df.nunique().sort_values()

Gender                                                2
International                                         2
Daytime/evening attendance                            2
Scholarship holder                                    2
Tuition fees up to date                               2
Debtor                                                2
Educational special needs                             2
Displaced                                             2
Marital status                                        6
Application order                                     8
Curricular units 2nd sem (without evaluations)       10
GDP                                                  10
Curricular units 1st sem (without evaluations)       11
Unemployment rate                                    12
Inflation rate                                       12
Nacionality                                          18
Curricular units 2nd sem (credited)                  19
Application mode                                     20
Previous qualification                               20
Course                                               21
Curricular units 2nd sem (approved)                  21
Curricular units 1st sem (credited)                  21
Curricular units 2nd sem (enrolled)                  23
Curricular units 1st sem (enrolled)                  23
Curricular units 1st sem (approved)                  23
Curricular units 2nd sem (evaluations)               30
Mother's qualification                               32
Curricular units 1st sem (evaluations)               34
Father's qualification                               36
Mother's occupation                                  38
Age at enrollment                                    46
Father's occupation                                  49
Previous qualification (grade)                      108
Admission grade                                     653
Curricular units 1st sem (grade)                   1121
Curricular units 2nd sem (grade)                   1155
id                                                51012
dtype: int64

In [7]:
feature_list = [feature for feature in train_df.columns if  feature  != "Target"]

target = "Target"

binary_features = ['Scholarship holder','International','Gender','Tuition fees up to date',
                   'Daytime/evening attendance','Debtor','Educational special needs','Displaced']

#from data set description
categorical_features = ['Marital status', 'Unemployment rate', 'Curricular units 2nd sem (without evaluations)', 'GDP', 
                        'Curricular units 1st sem (without evaluations)', 'Inflation rate', 'Nacionality', 'Course',
                        'Curricular units 2nd sem (credited)', 'Previous qualification', 'Curricular units 2nd sem (approved)',
                        'Curricular units 1st sem (credited)', 'Application mode', 'Curricular units 2nd sem (enrolled)', 
                        'Curricular units 1st sem (approved)', 'Curricular units 1st sem (enrolled)', 'Curricular units 2nd sem (evaluations)',
                        "Mother's qualification", 'Curricular units 1st sem (evaluations)', "Father's qualification", "Mother's occupation",
                        'Age at enrollment', "Father's occupation"]

train_df[categorical_features] = train_df[categorical_features].astype('category')
test_df[categorical_features] = test_df[categorical_features].astype('category')


numeric_features = list(set(feature_list) - set(binary_features)- set(categorical_features))

assert sorted(feature_list) == sorted(numeric_features + binary_features + categorical_features)

In [8]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

sc = StandardScaler()
oe = OneHotEncoder(drop='first', handle_unknown='ignore')

preprocessor = ColumnTransformer(
    transformers=[
        ('num', sc, numeric_features),
        ('cat', oe, categorical_features),
        ('bin', 'passthrough', binary_features)
    ])

In [9]:
data_preprocessed = preprocessor.fit_transform(train_df)
test_preprocessed = preprocessor.transform(test_df)
# 疎行列を密行列に変換
if hasattr(data_preprocessed, 'toarray'):
    data_preprocessed = data_preprocessed.toarray()

if hasattr(test_preprocessed, 'toarray'):
    test_preprocessed = test_preprocessed.toarray()

/opt/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:242: UserWarning: Found unknown categories in columns [1, 5, 6, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [10]:
# OneHotEncoderによって生成された特徴量名を取得
encoded_features = preprocessor.named_transformers_['cat'].get_feature_names_out(categorical_features)

# 全ての特徴量名を結合
all_features = numeric_features + list(encoded_features) + binary_features

# 前処理されたデータをDataFrameに変換
df_preprocessed = pd.DataFrame(data_preprocessed, columns=all_features)

In [11]:
X = df_preprocessed.drop('id', axis=1)
y = train_df.loc[:, 'Target']

label_mapping = {'Dropout': 0, 'Enrolled': 1, 'Graduate': 2}
encoded_y = y.map(label_mapping)

In [12]:
encoded_y.shape

(76518,)

In [13]:
# モデルの構築
model = tf.keras.models.Sequential()
model.add(layers.Dense(512))
model.add(layers.BatchNormalization())
model.add(layers.Activation('relu'))
model.add(layers.Dropout(0.3))
model.add(layers.Dense(256))
model.add(layers.BatchNormalization())
model.add(layers.Activation('relu'))
model.add(layers.Dropout(0.3))
model.add(layers.Dense(128))
model.add(layers.BatchNormalization())
model.add(layers.Activation('relu'))
model.add(layers.Dropout(0.3))
model.add(layers.Dense(64))
model.add(layers.BatchNormalization())
model.add(layers.Activation('relu'))
model.add(layers.Dropout(0.3))
model.add(layers.Dense(3, activation='softmax'))

2024-06-26 14:41:43.612450: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2
2024-06-26 14:41:43.612474: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 8.00 GB
2024-06-26 14:41:43.612491: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 2.67 GB
2024-06-26 14:41:43.612897: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-06-26 14:41:43.612922: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [14]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# 途中経過(loss値)を確認するためのクラス
class LossHistory(Callback):
    def on_train_begin(self, logs={}):
        self.losses = []
        self.val_losses = []

    def on_epoch_end(self, batch, logs={}):
        self.losses.append(logs.get('loss'))
        self.val_losses.append(logs.get('val_loss'))

# コールバックの設定
early_stopping = EarlyStopping(monitor='val_loss', patience=3, verbose=1, mode='auto')
history = LossHistory()

# モデルの訓練
epochs = 10
history = model.fit(X, encoded_y, epochs=epochs, validation_split=0.25, callbacks=[early_stopping, history])

Epoch 1/10

2024-06-26 14:41:44.738729: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

1794/1794 ━━━━━━━━━━━━━━━━━━━━ 71s 38ms/step - accuracy: 0.7684 - loss: 0.5970 - val_accuracy: 0.8210 - val_loss: 0.4606
Epoch 2/10
1794/1794 ━━━━━━━━━━━━━━━━━━━━ 68s 38ms/step - accuracy: 0.8185 - loss: 0.4848 - val_accuracy: 0.8229 - val_loss: 0.4592
Epoch 3/10
1794/1794 ━━━━━━━━━━━━━━━━━━━━ 69s 38ms/step - accuracy: 0.8233 - loss: 0.4719 - val_accuracy: 0.8241 - val_loss: 0.4576
Epoch 4/10
1794/1794 ━━━━━━━━━━━━━━━━━━━━ 69s 38ms/step - accuracy: 0.8273 - loss: 0.4592 - val_accuracy: 0.8233 - val_loss: 0.4597
Epoch 5/10
1794/1794 ━━━━━━━━━━━━━━━━━━━━ 68s 38ms/step - accuracy: 0.8303 - loss: 0.4479 - val_accuracy: 0.8255 - val_loss: 0.4548
Epoch 6/10
1794/1794 ━━━━━━━━━━━━━━━━━━━━ 69s 38ms/step - accuracy: 0.8331 - loss: 0.4455 - val_accuracy: 0.8244 - val_loss: 0.4587
Epoch 7/10
1794/1794 ━━━━━━━━━━━━━━━━━━━━ 69s 39ms/step - accuracy: 0.8356 - loss: 0.4395 - val_accuracy: 0.8226 - val_loss: 0.4612
Epoch 8/10
1794/1794 ━━━━━━━━━━━━━━━━━━━━ 69s 38ms/step - accuracy: 0.8421 - loss: 0.4196 - val_accuracy: 0.8229 - val_loss: 0.4597
Epoch 8: early stopping

In [15]:
# 前処理されたデータをDataFrameに変換
test_preprocessed = pd.DataFrame(test_preprocessed, columns=all_features)
test_preprocessed = test_preprocessed.drop('id', axis=1)

In [16]:
# モデルの予測結果を取得
test_pred = model.predict(test_preprocessed)

# ソフトマックス出力の最大値を持つクラスを取得
predicted_classes = np.argmax(test_pred, axis=1)

1595/1595 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step

In [17]:
# ターゲット値に変換
target_mapping = {0: 'Dropout', 1: 'Enrolled', 2: 'Graduate'}
inverse_target_mapping = {v: k for k, v in target_mapping.items()}
final_predictions = [target_mapping[pred] for pred in predicted_classes]

In [18]:
# 結果をデータフレームに格納
results_df = pd.DataFrame(data={"id":test_df.id, "Target": final_predictions})

print(results_df.head())

      id    Target
0  76518   Dropout
1  76519  Graduate
2  76520  Graduate
3  76521  Graduate
4  76522   Dropout

In [19]:
results_df.shape

(51012, 2)

In [20]:
# 結果を保存
results_df.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!