---
# Categorical Plot Exercise
---

In [1]:
# 実行
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Exercise_1 : Seabornのデータセット（'taxis'）をdfとして読み込んでください

In [2]:
df = sns.load_dataset('taxis')

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df = sns.load_dataset('taxis')</code>
</details>

In [3]:
# 実行して表示
df.shape

(6433, 14)

Exercise_2 : dfのカラム毎の欠損値の合計を表示してください

In [4]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.isnull().sum()</code>
</details>

In [14]:
df.head()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/formatters.py", line 223, in catch_format_error
    def catch_format_error(method, self, *args, **kwargs):
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/formatters.py", line 344, in __call__
    # Finally look for special method names
               ^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/core/frame.py", line 1106, in _repr_html_
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/format.py", line 1110, in to_html
    When formatting an Index subclass
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/html.py", line 88, in to_string
    lines = self.render()
            ^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/html.py", line 644, in render
    super().render()
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/html.py", line 94, in render
    self._write_table()
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/html.py", line 267, in _write_table
    self._write_header(indent + self.indent_delta)
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/html.py", line 403, in _write_header
    self._write_col_header(indent + self.indent_delta)
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/html.py", line 383, in _write_col_header
    row.extend(self._get_columns_formatted_values())
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/pandas/io/formats/html.py", line 611, in _get_columns_formatted_values
    return self.columns._format_flat(include_name=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Index' object has no attribute '_format_flat'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2144, in showtraceback
    'the full traceback.\n']
               ^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    except KeyboardInterrupt:
           ^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    FIs.append(

  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    for i, record in enumerate(records):
                      ^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 970, in format_record
    raw_lines = raw_lines[start:stop]
            ^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.variables_in_executing_piece
       ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

                pickup              dropoff  passengers  distance  fare   tip  \
0  2019-03-23 20:21:09  2019-03-23 20:27:24           1      1.60   7.0  2.15
1  2019-03-04 16:11:55  2019-03-04 16:19:00           1      0.79   5.0  0.00
2  2019-03-27 17:53:01  2019-03-27 18:00:25           1      1.37   7.5  2.36
3  2019-03-10 01:23:59  2019-03-10 01:49:51           1      7.70  27.0  6.15
4  2019-03-30 13:27:42  2019-03-30 13:37:14           3      2.16   9.0  1.10

   tolls  total   color      payment            pickup_zone  \
0    0.0  12.95  yellow  credit card        Lenox Hill West
1    0.0   9.30  yellow         cash  Upper West Side South
2    0.0  14.16  yellow  credit card          Alphabet City
3    0.0  36.95  yellow  credit card              Hudson Sq
4    0.0  13.40  yellow  credit card           Midtown East

            dropoff_zone pickup_borough dropoff_borough
0    UN/Turtle Bay South      Manhattan       Manhattan
1  Upper West Side South      Manhattan       Manhattan
2           West Village      Manhattan       Manhattan
3         Yorkville West      Manhattan       Manhattan
4         Yorkville West      Manhattan       Manhattan

Exercise_3 : 'payment'カラムが欠損していないレコードをランダムに(sample()を利用して）５つ表示してください。　ヒント　レクチャーでは出てきませんでしたがisnull()ではなくnotnull()というメソッドもあります。

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df[df['payment'].notnull()].sample(5)</code>
</details>

Exercise_4 : 欠損値を持つレコードの先頭５つを表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df[df.isnull().sum(axis=1) > 0].head()</code>
</details>

Exercise_5 : 欠損値を持つレコードの合計数を表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>len(df[df.isnull().sum(axis=1) > 0])</code>
</details>

Exercise_6 : 欠損値を持つレコードをdfからすべて削除してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.dropna(axis=0, inplace=True)</code>
</details>

In [ ]:
# 実行して表示
df.shape
# (6341, 14)であればOK

Exercise_7 : dfのカラムのうちデータタイプがfloat'型のものを抽出しdf_numericとしてください

In [ ]:
df_numeric =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_numeric = df.select_dtypes('float')</code>
</details>

In [ ]:
# 実行して表示
df_numeric

Exercise_8 : df_numericの相関係数（相関行列）を表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_numeric.corr()</code>
</details>

Exercise_9 : 上記の相関行列をヒートマップとして表示してください。その際には横縦を6インチ、 4インチとして、相関係数の表示(annot=True)、cmap='coolwarm'の指定も行ってください(詳しくは別のセクションで説明します)

In [ ]:
plt.figure(figsize=(6,4))

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.heatmap(df_numeric.corr(), annot=True, cmap='coolwarm')</code>
</details>

Exercise_10 : レクチャーで保存した'titanic_for_seaborn.csv'(index=Falseで保存)をdfとして読み込んでください。

In [ ]:
df =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df = pd.read_csv('titanic_for_seaborn.csv')</code>
</details>

In [ ]:
# 実行して表示
df.head()

Exercise_11 : Seabornのテーマ設定を行ってください。(テキストのサイズは'talk'、スタイルは'darkgrid'、フォントは'Meiryo')

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.set_theme(context='talk', style='darkgrid', font='Meiryo')</code>
</details>

Exercise_12 : dfにおいて'sex'別の'fare'をストリッププロットで表示してください

In [ ]:

plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.stripplot(data=df, x='sex', y='fare')</code>
</details>

Exercise_13 : 同様のストリッププロットで、'embarked'による色分けを行ってください。その際には三種類の'embarked'のプロットを混在させずに独立して表示し、パレットを'prism'としてください。

In [ ]:
plt.figure(figsize=(10, 5))



plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.stripplot(data=df, x='sex', y='fare', hue='embarked', dodge=True, palette='prism')</code>
</details>

Exercise_14 : 'embarked'別のレコードの数をカウントプロットで表示してください(カラーパレットは'Set1')

In [ ]:

plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.countplot(data=df, x='embarked', palette='Set1')</code>
</details>

Exercise_15 : 上記のカウントプロットを性別ごとに色分けしてください（カラーパレットは'Set2'）

In [ ]:

plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.countplot(data=df, x='embarked', palette='Set2', hue='sex')</code>
</details>

Exercise_16 : 性別で分けた年齢の平均値を、出航地別に色分けしてバープロットで表示してください（カラーパレット'hsv'）。さらにレジェンドの位置を「下寄りの中央」にし、そのタイトルを'embarked'にしてください

In [ ]:



plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.barplot(data=df, x='sex', y='age', palette='hsv', hue='embarked', estimator=np.median)</code>
    <code>plt.legend(loc="lower center", title='embarked')</code>
</details>

Exercise_17 : 'who'別の'fare'をボックスプロットで表示してください。その際にカラーパレットを'Set3’、ボックスの幅を0.5に指定してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.boxplot(data=df, x='who', y='fare', palette='Set3', width=0.5)</code>
</details>

Exercise_18 : 上記では大きな外れ値があるため比較が困難です。外れ値を非表示として、あらためてボックスプロットを表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.boxplot(data=df, x='who', y='fare', palette='Set3', width=0.5, sym="")</code>
</details>

Exercise_19 : 'who'別の'age'をバイオリンプロットで表示してください。その際にカラーパレットは'spring'、色分けを'survived'で行い、さらにバイオリンの左右に分けて表示してください。

In [ ]:
plt.figure(figsize=(8, 6))



plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.violinplot(data=df, x='who', y='age', palette='spring', hue='survived', split=True)</code>
</details>

Exercise_20 : 性別ごとの年齢を'survived'で色分けし、また、プロットを混在させず分離してスウォームプロットで表示してください。（カラーパレットは'prism'）さらに、x軸ラベルを"男性"、"女性"にしてください

In [ ]:
plt.figure(figsize=(12, 6))



plt.legend(loc="upper center", title='Survived')
plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.swarmplot(data=df, x='sex', y='age', hue='survived', palette='prism', dodge=True)</code>
    <code>plt.xticks([0, 1] ,['男性', '女性'])</code>
</details>

Exercise_21 : 生存・死亡をX軸にして、年齢をスウォームプロットで表示してください。ただし、2行3列のグリッド表示とし、行では'sex'での分類、列では'pclass'の分類となるようにしてください。さらにheightを4とし、それに対するwidthの比率を1.5としてください。　ヒント　catplot, row, col

In [ ]:



plt.show()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sns.catplot(data=df, x='survived', y='age', height=4, aspect=1.5, row='sex', col='pclass', kind='swarm')</code>
</details>

## 以上